</div>
      </div>
    </div>

  </main>

  <footer class="text-muted">
    <div class="container">
      <p class="float-right">
        <a href="#">Back to top</a>
      </p>
      <p>&copy; curation</p>
    </div>
  </footer>

  <script src="/js/search.js" type="text/javascript">
  </script>
</body>
</html>
