
  <% include ../partials/boilerplate %>

  <a href="/quotes/new">Add quote</a>
  
  <% for (let quote of data) { %>
    <div class='quote'>
      <p><%= quote.content %></p>
      <a href='/quotes/<%= quote.id%>'>Learn more</a>
    </div>
  <% } %>

  <% include ../partials/footer %>
