<% include ./partials/boilerplate.ejs %>

<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">Welcome to Curation</h1>
    <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>

    <div class="landing-page-options">
      <form class="justify-content-center" action="/collections" method="post">
        <input type="text" class="form-control plaintext w-100" id="collection_name" placeholder="enter a new collection name" name="name">
        <button type="submit" class="btn btn-success w-100 mt-2">Create Collection</button>
      </form>

      <p class='m-4'><strong>OR</strong></p>

      <div class="justify-content-center mt-3">
        <a class="btn btn-primary w-100" href="/collections">View all Collections</a>
      </div>
    </div>
  </div>
</section>

<% include ./partials/footer.ejs %>
